flask
flask_cors

Jinja2>=2.10.1

Fabric3  # project automation
pip-tools

# heroku
gunicorn

beautifulsoup4
requests
urllib3==1.24.2  ## from requests
celery
redis # for celery

# words into colors
# -e git+git://github.com/anastasia/namecolor.git@aa2a8d72#egg=namecolor # colors

# testing
pytest-flask


# lifx
lifxlan
