[Unit]
# Start this systemd unit after we have set up our wireless access point (hostapd) and dhcpd server (isc-dhcpd-server)
After=hostapd.service isc-dhcpd-server.service alterspace-celery.service
# If we require an online network before running this service
# Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 -m flask run -p 5000
WorkingDirectory=/home/pi/alter-space/
# Environment variables to set. Takes the form of:
Environment=FLASK_APP=run.py
Environment=FLASK_DEBUG=1
Type=simple
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
