{% extends "layout.html" %}
{% block content %}
<form method='post'>
  <table width="80%" align="center">
    <tbody>
    <tr>
      <th colspan="4">
        What sounds do you want to hear?
      </th>
    </tr>

    <th colspan="1">
      <div class="toggle" data-sound="ambient">ambient</div>
      <div class="toggle" data-sound="hawaiian">hawaiian</div>
    </th>
    <th colspan="1">
      <div class="toggle" data-sound="forest">forest</div>
      <div class="toggle" data-sound="jazz">jazz</div>
    </th>
    <th colspan="1">
      <div class="toggle" data-sound="waves">waves</div>
      <div class="toggle" data-sound="clock">clock</div>      
    </th>
    <th colspan="1">
      <div class="toggle" data-sound="electro">electro</div>
      <div class="toggle" data-sound="thunder">thunder</div>      
    </th>   

    </tbody>
  </table>
</form>

<!-- in next version, should use .wavs for all of this, better compatibility -->

<audio id= "audio_hawaiian" loop src="{{ url_for('static', filename='sounds/hawaiian.mp3') }}" type="audio/mpeg"/>
</audio>
<audio id="audio_jazz" loop src="{{ url_for('static', filename='sounds/jazz.mp3') }}" type="audio/mpeg"/>
</audio>
<audio id="audio_ambient" loop src="{{ url_for('static', filename='sounds/ambient.mp3') }}" type="audio/mpeg"/>
</audio>
<audio id="audio_forest" loop src="{{ url_for('static', filename='sounds/forest.mp3') }}" type="audio/mpeg"/>
</audio>
<audio id= "audio_waves" loop src="{{ url_for('static', filename='sounds/waves.wav') }}" type="audio/mpeg"/>
</audio>
<audio id="audio_clock" loop src="{{ url_for('static', filename='sounds/clock.wav') }}" type="audio/mpeg"/>
</audio>
<audio id="audio_electro" loop src="{{ url_for('static', filename='sounds/electro.wav') }}" type="audio/mpeg"/>
</audio>
<audio id="audio_thunder" loop src="{{ url_for('static', filename='sounds/thunder.wav') }}" type="audio/mpeg"/>
</audio>



<script>
  $(".toggle").click(function() {
    $(this).toggleClass("on");
    var sound = $(this).attr("data-sound");
    var audioElem = $("#audio_"+sound)[0];

    //should files start from the beginning or where they last left off?
    if(audioElem.paused) audioElem.play();
    else audioElem.pause();
  });
</script>

<style>
  body {
    background-color: {{ color }};
  }

  form {
    margin-top: 20%;
  }


  .toggle {
    background-color:blue;
    color:white;
    padding: 10px;
    margin: 0 0 20px 0;
    width:150px;
    cursor: pointer;
    font-weight: 300;
  }

  .toggle.on {
    background-color: navy;
  }

</style>
{% endblock %}