@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/nav";
@import 'variables';
@import 'fonts';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  @extend .flex-column;
  min-height: 100vh;
}

/* svgs */

.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: inherit;
  vertical-align: middle;
  fill: none;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.svg-up {
  /* default */
  transform: rotate(0deg);
}

.svg-right {
  transform: rotate(90deg);
}

.svg-down {
  transform: rotate(180deg);
}

.svg-left {
  transform: rotate(-90deg);
}

/* General settings */
ul {
  list-style: none;
  margin: 0;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.container-preset {
  height: 100vh;
}

.gray-bar {
  background-color: $color-gray-light;
  color: $color-gray;
  width: 100%;
  margin-top: -10px;
  padding: 15px 10px;
  .settings-title {
    color: $color-gray;
    font-weight: 600;
  }
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.lever-container {
  padding-top: 50px;
  @include media-breakpoint-up(lg) {
    @include make-col(7);
  }
  @include media-breakpoint-down(md) {
    @include make-col(10);
  }
}

/* Headers */
h1, h2, h3, h4, h5 {
  color: $color-gray;
}

input[type="range"] {
  cursor: pointer;
}

/* tables: light levers, sound levers */
.cell-table {
  border: 1px solid $color-black;
  width: 100%;

  -moz-box-shadow: 1px 1px 5px $color-dropshadow;
  -webkit-box-shadow: 1px 1px 5px $color-dropshadow;
  box-shadow: 1px 1px 5px $color-dropshadow;
  td {
    padding: 10px;
    border-right: 1px solid $color-black;
    text-align: center;
  }
  th {
    padding: 10px;
  }
  td:last-child {
    border-right: 0;
  }
  tr {
    border-bottom: 1px solid $color-black;
  }
  tr:last-child {
    border-bottom: 0;
  }
  label {
    color: $color-navy;
    position: relative;
    margin-bottom: -20px;
    margin-top: 10px;
    display: block;
    text-align: center;
    font-weight: 600;
  }
}

.table-top {
  -moz-box-shadow: 1px 0 5px $color-dropshadow;
  -webkit-box-shadow: 1px 0 5px $color-dropshadow;
  box-shadow: 1px 0 5px $color-dropshadow;
  height: 125px;
}

.table-top label {
  bottom: auto;
}

.table-top label.volume-label {
  margin-left: 30%;
}

.table-bottom {
  border-top: 0;
}

/* buttons */
button, a, .btn, .btn-default {
  cursor: pointer;
  border-radius: 0;
}

.btn-round {
  @extend .btn;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 0;
  border: 0;
  outline: 0;
  text-align: center;
  //display: table-cell;
  @include media-breakpoint-only(md) {
    height: 50px !important;
    width: 50px !important;
  }
  @include media-breakpoint-down(sm) {
    height: 40px !important;
    width: 40px !important;
  }
}

.btn-round-small {
  @extend .btn-round;
  height: 30px;
  width: 30px;
}

.btn-x {
  @extend .btn;
  background: transparent url("../img/x.svg") no-repeat;
  height: 13px;
  width: 13px;
  background-size: contain;
  display: inline-block;
}

.btn-reset {
  @extend .btn;
  position: absolute;
  right: 20px;
  margin-top: -25px;
  background-color: $color-white;
}

/* Activity settings */
.btn-activity {
  @extend .btn;
  padding: 10px;
  text-transform: lowercase;
  letter-spacing: 0.08rem;
  width: 120px;
  text-align: center;
}

.activity-read {
  background-color: $color-read;
}

.activity-relax {
  background-color: $color-relax;
}

.activity-meditate {
  background-color: $color-meditate;
}

.activity-create {
  background-color: $color-create;
}

.activity-focus {
  background-color: $color-focus;
}

.activity-wyrd {
  background-color: $color-wyrd;
}

.activity-read, .activity-relax,
.activity-meditate, .activity-create {
  color: $color-navy;
  h1 {
    color: $color-navy;
  }
  a {
    color: $color-navy;
  }
  .btn-home {
    background-position-x: -45px;
    &:hover, &:active, &:focus {
      background-position-x: 0;
    }
  }
  .btn-info {
    background-position-x: -37px;
    &:hover, &:active, &:focus {
      background-position-x: 0;
    }
  }
}

.activity-wyrd, .activity-focus {
  color: $color-white !important;
  h1 {
    color: $color-white;
  }
  a {
    color: $color-white;
  }
  .btn-home {
    &:hover, &:active, &:focus {
      background-position-x: -135px;
    }
  }
  .btn-info {
    &:hover, &:active, &:focus {
      background-position-x: -111px;
    }
  }

}

