@import "~normalize.css";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import 'variables';

body {
  font-family: $font-family;
}

/* General settings */
ul {
  list-style: none;
  margin: 0;
}

li {
  float: left;
  margin-right: 20px;
}

li.list-inline-item {
  &:last-child {
    margin-right: 0;
  }
}

.gray-bar {
  background-color: $color-gray-light;
  color: $color-gray;
  width: 100%;
  margin-top: -10px;
  padding: 7px;
  .settings-title {
    color: $color-gray;
  }
}

.full-width {
  min-width: 100%;
  min-height: 100%;
}

.modal-background {
  background-color: $color-black;
  opacity: 0.5;
  z-index: 1;
  position: fixed;
  top: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.lever-container {
  padding-top: 50px;
  @include media-breakpoint-up(lg) {
    @include make-col(7);
  }
  @include media-breakpoint-down(md) {
    @include make-col(10);
  }
}

/* Headers */
h1, h2, h3, h4, h5 {
  color: $color-gray;
}

input[type="range"] {
  cursor: pointer;
}

.cell-table {
  border: 2px solid $color-gray-lighter;
  width: 100%;

  -moz-box-shadow: 1px 1px 5px rgba(230, 230, 230, 0.8);
  -webkit-box-shadow: 1px 1px 5px rgba(230, 230, 230, 0.8);
  box-shadow: 1px 1px 5px rgba(230, 230, 230, 0.8);
  td {
    padding: 10px;
    border-right: 2px solid $color-gray-lighter;
    text-align: center;
  }
  td:last-child {
    border-right: 0;
  }
  tr {
    border-bottom: 2px solid $color-gray-lighter;
  }
  tr:last-child {
    border-bottom: 0;
  }
  label {
    color: $color-navy;
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
  }
}

/* buttons */
button, input.btn, input.btn-default {
  cursor: pointer;
}

.btn-round {
  @extend .btn;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 0;
  outline: 0;
  text-align: center;
  display: table-cell;
}

.btn-group-color {
  text-align: justify;
}

.btn-group-color:after {
  content: ' ';
  display: inline-block;
  width: 100%;
  height: 0
}

/* Activity settings */
.btn-activity {
  padding: 10px;
  text-transform: lowercase;
  letter-spacing: 0.08rem;
  width: 120px;
  text-align: center;
}
