@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/nav";
@import 'variables';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  @extend .flex-column;
  min-height: 100vh;
}

/* General settings */
ul {
  list-style: none;
  margin: 0;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.gray-bar {
  background-color: $color-gray-light;
  color: $color-gray;
  width: 100%;
  margin-top: -10px;
  padding: 7px;
  .settings-title {
    color: $color-gray;
  }
}

.modal-background {
  background-color: $color-black;
  opacity: 0.5;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.lever-container {
  padding-top: 50px;
  @include media-breakpoint-up(lg) {
    @include make-col(7);
  }
  @include media-breakpoint-down(md) {
    @include make-col(10);
  }
}

/* Headers */
h1, h2, h3, h4, h5 {
  color: $color-gray;
}

input[type="range"] {
  cursor: pointer;
}

/* tables: light levers, sound levers */

.cell-table {
  border: 2px solid $color-gray-lighter;
  width: 100%;

  -moz-box-shadow: 1px 1px 5px $color-dropshadow;
  -webkit-box-shadow: 1px 1px 5px $color-dropshadow;
  box-shadow: 1px 1px 5px $color-dropshadow;
  td {
    padding: 10px;
    border-right: 2px solid $color-gray-lighter;
    text-align: center;
  }
  th {
    padding: 10px;
  }
  td:last-child {
    border-right: 0;
  }
  tr {
    border-bottom: 2px solid $color-gray-lighter;
  }
  tr:last-child {
    border-bottom: 0;
  }
  label {
    color: $color-navy;
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
  }
}

.table-top {
  -moz-box-shadow: 1px 0 5px $color-dropshadow;
  -webkit-box-shadow: 1px 0 5px $color-dropshadow;
  box-shadow: 1px 0 5px $color-dropshadow;
  height: 125px;
}

.table-top label {
  bottom: auto;
}

.table-top label.volume-label {
  margin-left: 30%;
}

.table-bottom {
  border-top: 0;
}

/* buttons */
button, a, .btn, .btn-default {
  cursor: pointer;
  border-radius: 0;
}

.btn-round {
  @extend .btn;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 0;
  outline: 0;
  text-align: center;
  margin: 0 5px;
  display: table-cell;
}

.btn-round-small {
  @extend .btn-round;
  height: 30px;
  width: 30px;
}

.btn-x {
  @extend .btn;
  background: transparent url("../img/x.svg") no-repeat;
  height: 13px;
  width: 13px;
  background-size: contain;
  display: inline-block;
}

.btn-reset {
  @extend .btn;
  position: absolute;
  right: 20px;
  margin-top: -25px;
  background-color: $color-white;
}

/* Activity settings */
.btn-activity {
  @extend .btn;
  padding: 10px;
  text-transform: lowercase;
  letter-spacing: 0.08rem;
  width: 120px;
  text-align: center;
}
