/* colorpicker styles */
.btn-group-color-options {
  padding: 10px;
  text-align: center;
  &.read, &.meditate, &.focus {
    background-color: $color-white;
    border-top: 1.5px solid $color-navy
  }
  &.create, &.relax, &.wyrd {
    background-color: $color-navy;
  }
}

.btn-color {
  margin: 2px;
  &.active {
    border: 1.5px solid $color-navy;
  }
}

.btn-color-option {
  height: 30px;
  width: 30px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;

}

.btn-breathe {
  @extend .btn-round;
  background-size: 60px;
  &.active {
    path {
      fill: $color-navy;
    }
  }
}
