/* colorpicker styles */
.colorpicker {
  width: 300px;
  height: 300px;
  position: fixed;
  z-index: 999;
}

.canvas-image {
  width: 300px;
  height: 300px;
}

#picker {
  cursor: pointer;
  float: left;
  margin: 10px;
  border: 0;
}

.preview {
  @extend .btn-round;
  cursor: pointer;
  border: 1px solid $color-black;
}
