.bright-range {
  top: -20px;
  position: relative;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

input[type=range][disabled="disabled"] {
  cursor: not-allowed;
  background-color: transparent;
  &::-moz-range-track {
    background: $color-gray-lighter;
  }
  &::-webkit-slider-runnable-track {
    background: $color-gray-lighter;
  }
  &::-webkit-slider-thumb {
    background: $color-gray-lighter;
  }
  &::-ms-fill-lower {
    background: $color-gray-lighter;
  }
  &::-ms-fill-upper {
    background: $color-gray-lighter;
  }
  &::-moz-range-thumb {
    background: $color-gray-lighter;
  }
  &::-ms-thumb {
    background: $color-gray-lighter;
  }
  &::-moz-range-progress {
    background-color: $color-gray-lighter;
  }
  &::-moz-range-track {
    background-color: $color-gray-lighter;
  }
  /* IE*/
  &::-ms-fill-lower {
    background-color: $color-gray-lighter;
  }
  &::-ms-fill-upper {
    background-color: $color-gray-lighter;
  }

}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  animate: 0.2s;
  background: $color-navy;
  border-radius: 5px;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background: $color-relax;
  -webkit-appearance: none;
  margin-top: -17.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $color-navy;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  animate: 0.2s;
  background: $color-navy;
  border-radius: 5px;
  border: none;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: $color-navy;
  border: none;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: $color-navy;
  border: none;
  border-radius: 10px;
}

input[type=range]:focus::-ms-fill-lower {
  background: $color-navy;
}

input[type=range]:focus::-ms-fill-upper {
  background: $color-navy;
}

input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: $color-relax;
  -webkit-appearance: none;
  margin-top: -17.5px !important;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: $color-relax;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: $color-relax;
}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: $color-navy;
}

input[type="range"]::-moz-range-track {
  background-color: $color-gray-lighter;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: $color-navy;
}

input[type="range"]::-ms-fill-upper {
  background-color: $color-gray-lighter;
}
