// TODO: do we need to load all of bootstrap?
@import 'bootstrap/scss/bootstrap.scss';
@import 'variables';

body {
  font-family: $font-family;
}
/* General settings */
nav {
  border-bottom: 1px solid $color-black;
}

ul {
  list-style: none;
}

li {
  float: left;
  margin-right: 20px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* Headers */
h1, h2, h3, h4, h5 {
  color: #1B1464;
}

h1 {
  font-weight: $font-weight-bold;
  &.page-header {
    text-transform: uppercase;
  }
}

/* Activity settings */

.btn-activity {
  padding: 10px;
  text-transform: lowercase;
  letter-spacing: 0.08rem;
  //margin: 10px;
  width: 120px;
  text-align: center;
}

.btn-music {
  border: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: transparent url("../img/pause.svg") no-repeat;
  &.pause {
    background: transparent url("../img/play.svg") no-repeat;
  }
}

.btn-volume {
  background: transparent url("../img/volume.svg") no-repeat;
  height: 30px;
  width: 30px;
  border: 0;
  cursor: pointer;
}

.volume-range {
  width: 70%;
  margin-left: 10px;
}

.sound-container {
  display: none;
  &.show {
    display: inline-block;
  }
}

audio {
  display: none;
}

.toggle {
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 0 0 20px 0;
  width: 150px;
  cursor: pointer;
  font-weight: 300;
  border: 0;
  border-radius: 5px;
}

.toggle.on {
  background-color: navy;
}
