// TODO: do we need to load all of bootstrap?
@import 'bootstrap/scss/bootstrap.scss';
@import 'variables';

/* General settings */
nav {
  border-bottom: 1px solid $color-black;
}

ul {
  list-style: none;
}

li {
  float: left;
  margin-right: 20px;
}


/* Headers */
h1 {
  text-transform: uppercase;
}


/* Activity settings */
.btn-activity {
  padding: 20px;
  text-transform: uppercase;
  margin: 10px;
}

.sound-container {
  display: none;
  &.show {
    display: inline-block;
  }
}

audio {
  display: none;
}

.toggle {
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 0 0 20px 0;
  width: 150px;
  cursor: pointer;
  font-weight: 300;
  border: 0;
  border-radius: 5px;
}

.toggle.on {
  background-color: navy;
}
