/* Colors */

$color-black: #2F2F2F;
$color-white: white;
$color-blue: blue;
$color-navy: #260066;
$color-gray: gray;
$color-gray-lighter: #A8A8A8;
$color-gray-light: #e6e6e6;


/* Activity colors */
$color-read: #fbb03b;
$color-relax: #fbd6e8;
$color-meditate: #297de1;
$color-create: #ff6666;
$color-focus: #333399;
$color-wyrd: #93278f;

/* Typography */

$font-family: brandon-grotesque, sans-serif;


