/* Colors */

$color-black: #2F2F2F;
$color-white: white;
$color-blue: blue;
$color-navy: #260066;
$color-gray: gray;
$color-gray-light: #A8A8A8;
/* Typography */

$font-family: brandon-grotesque, sans-serif;